/* Register.css */

.registerbody06 {
    margin: 0;
    font-family: 'Asap', sans-serif;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 91, 105);
  }
  
  .register-wrapper06 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 99vh;
  }
  
  .register-container06 {
    background-color: white;
    padding: 0px 30px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
    position: relative;
    width: 400px;
    height: 250px;
  }
  
  .register06 {
    overflow: hidden;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    top: 20%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -26%);
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
    
    display: flex;
    place-items: center;
    position: relative;
  }
  
  .register06::before,
  .register06::after {
    content: '';
    position: absolute;
    width: 600px;
    height: 800px;
    border-top-left-radius: 90%;
    border-top-right-radius: 55%;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 40%;
    z-index: -1;
  }
  
  .register06::before {
    left: 40%;
    bottom: -90%;
    background-color: rgba(69, 105, 144, 0.15);
    animation: wawes06 6s infinite linear;
  }
  
  .register06::after {
    left: 55%;
    bottom: -125%;
    background-color: rgba(2, 128, 144, 0.2);
    animation: wawes06 7s infinite;
  }
  
  .register06 > input {
    font-family: 'Asap', sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: none;
    padding: 10px;
    margin: 15px 0;
    box-shadow: 8px 5px 10px rgba(2, 128, 144, 0.2);
  }
  
  .register06 > button {
    font-family: 'Asap', sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    border: none;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: rgb(244, 91, 105);
    transition: background-color 300ms;
  }
  
  .register06 > button:hover {
    background-color: rgb(220, 82, 95);
  }
  
  @keyframes wawes06 {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  a.toggle-link06 {
    text-decoration: none;
    color: rgba(2, 128, 144, 2);
    font-size: 14px;
    text-decoration: underline;
  }
  
  a.toggle-link06:hover {
    color: rgb(220, 82, 95);
  }
  
  .register-title06, .register06 button {
    text-align: center;
  }
  
  .toggle-option06 {
    text-align: center;
    margin-top: 20px;
  }
  